! Base colors
*.foreground:       #63718B
*.background:       #20202A
*.cursorColor:      #2c2e3e

*.color0:           #3D4059
*.color1:           #EBB9B9
*.color2:           #B1DBA4
*.color3:           #E6DFB8
*.color4:           #CDDBF9
*.color5:           #F6BBE7
*.color6:           #B8DEEB
*.color7:           #A7B7D6
*.color8:           #1A1A24
*.color9:           #d95e59
*.color10:          #8fc587
*.color11:          #ffcf85
*.color12:          #4a83c3
*.color13:          #bf83b5
*.color14:          #4eb3cd
*.color15:          #63718b

! xterm
xterm*termName:     xterm-256color
xterm*font:         monospace
xterm*faceName:     monospace:size=11
xterm*loginShell:   true
xterm*vt100*geometry: 90x34
xterm*saveLines:    2000
xterm*charClass:    33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
URxvt*background: [95]#20202A
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:Operator Mono:size=13
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34

! Tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false
