/* Frenzy's Aquarium CSS config for Discord using discocss  */

body {
    font-family: "Cartograph CF";
}

code {
    color: #c8cedc !important;
}

.theme-dark,
.theme-light,
:root {
    --background-primary: #20202A !important;
    --background-secondary: #20202A !important;
    --background-secondary-alt: #20202A !important;
    --background-tertiary: #2c2e3e !important;
    --background-accent: #414560 !important;
    --brand-experiment: #414560;
    --brand-experiment-560: #414560;
    --text-link: #b8dceb;
    --background-floating: #2c2e3e !important;
    --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background: var(--background-tertiary) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
    --deprecated-text-input-border: var(--background-floating) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #63718b !important;
    --text-muted: #63718b !important;
    --text-normal: #c8cedc !important;
    --interactive-normal: #63718b !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #b8dceb !important;
    --interactive-muted: #414560 !important;
    --header-primary: #cddbf9 !important;
    --header-secondary: #c9c9c9 !important;
    --control-brand-foreground: #cddbf9;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
    --toast-border: var(--background-tertiary) !important;

    --logo-primary: #63718b;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #2c2e3e;
    --deprecated-quickswitcher-input-background: var(--color8);
    --deprecated-quickswitcher-input-placeholder: var(--color7);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;

	--background-mentioned: rgba(205, 219, 249, 0.06);	
	--background-mentioned-hover: rgba(205, 219, 249, 0.08);
	--background-mentioned-border: rgba(150, 166, 26, 0.08);
    
    --guild-header-text-shadow: 0 4px 1px rgba(0,0,0,0.4);

	--bdfdb-blurple: #b8dceb;								/* #7289DA */
	--blurple: #b8dceb;										/* #7289DA */
	--bd-blue: hsl(214, calc(var(--saturation-factor, 1) * 54%), 48%);
	--bd-blue-hover: #b8dceb;
	--bd-blue-active: #cddbf9;
	
	--text-positive: #b1dba4;								/* #4FDC7B */
	--text-warning: #e6dfb8;								/* #FAA61A */
	--text-danger: #ebb9b9;									/* #ED4245 */
	--info-positive-foreground: #b1dba4;					/* #3BA55C */
	--info-positive-background: rgba(67,181,129,0.1);		/* rgba(59,165,92,0.1) */
	--info-warning-background: rgba(250,166,26,0.1);		/* rgba(250,166,26,0.1) */
	--info-warning-foreground: #cddbf9;						/* #FAA61A */
	--info-danger-background: rgba(240,71,71,0.1);			/* rgba(237,66,69,0.1) */
	--info-danger-foreground: #ebb9b9;						/* #ED4245 */
	--status-positive-background: #b1dba4;					/* #3BA55C */
	--status-warning-background: #e6dfb8;					/* #FAA61A */
	--status-danger-background: #ebb9b9;					/* #ED4245 */
}
}

/*********************************************/

 /* compact member list */
.channel-members .avatar-small {
    width: 0px;
    height: 0px;
}

/*********************************************/


/*********************************************/

/* make emoji bigger */
.compact .message .markup .message-content .emoji {
    width: 20px;
    height: 20px;
}
  
.compact .message .markup .message-content .jumboable {
    width: 30px !important;
    height: 30px !important;
}

/*********************************************/

:root[uidensity="compact"] {
    --tab-min-height: 31px !important;
}

/*********************************************/

/* No Scrollbar*/
::-webkit-scrollbar-thumb {
    color: transparent !important;
}

::-webkit-scrollbar {
    display: none;
}

button[aria-label="Select emoji"] {
    margin-bottom: 3px;
    padding-right: 16px
}


/*********************************************/

/** TOGGLE SEARCH BAR  */
.searchBar-3dMhjb {
    background-color: var(--background-primary);
    width: 28px;
    transition: width 0.1s ease-in-out;
}

/*********************************************/

/* Code stuff */

.embed-IeVjo6 code {
    background-color: var(--background-primary);
}

code {
  font-family: "Cartograph CF";
  font-size: 14px;
  font-style: italic;
}

/*********************************************/

/* Home Menu Background */
.tabBody-3YRQ8W {
    background: var(--background-tertiary);
}

/*Smol not thingy*/
.unread-1xRYoj {
    background: #cddbf9;
    color: var(--background-tertiary);
}

/* Slide out Animation */
.sidebar-2K8pFh{
  width: 240px;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.members-1998pB {
    width:240px;
    transform:none;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    opacity:1;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

/*********************************************/

/* Member/Server List AutoHide */
.membersWrap-2h-GB4 {
    position:absolute;
    right:0;
    top:0;
    min-width:unset;
    max-height:100%;
    z-index:100;
}
.content-yTz4x3 {
    overflow:visible;
}
.sidebar-2K8pFh{
    width: 0px;
    transition: 0.3s ease;
    position: fixed;
    height: calc(100% - 47.988px);
    z-index: 1;
    bottom: 0px;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
    width:240px;
}   
.sidebar-2K8pFh:hover{
    width:240px;
}
.membersWrap-2h-GB4:hover .members-1998pB {
    width:240px;
    transform:none;
    opacity:1;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}
.members-1998pB {
    width:0;
    opacity:0;
    transform:translateX(100%);
    transition:250ms ease transform, 250ms ease opacity;
}
.iconWrapper-2OrFZ1[aria-label="Member List" i] {
    order: 1;
    pointer-events:none;
}
.iconWrapper-2OrFZ1[aria-label="Member List" i] .icon-22AiRD path {
    display:none;
}
.membersWrap-2h-GB4::after {
    content:'';
    width:24px;
    height:48px;
    top:-48px;
    position:absolute;
    right:0;
    background:var(--interactive-normal);
    -webkit-mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0' y='0' class='icon-22AiRD da-icon' aria-hidden='false' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z'%3E%3C/path%3E%3Cpath fill='currentColor' fill-rule='evenodd' clip-rule='evenodd' d='M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z'%3E%3C/path%3E%3Cpath fill='currentColor' d='M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z'%3E%3C/path%3E%3C/svg%3E") center/24px no-repeat;
    margin:0 16px;
}
.membersWrap-2h-GB4:hover::after {
    background:var(--interactive-hover);
}

/*********************************************/

/* Chat User Avatar */
.cozy-3raOZG .avatar-1BDn8e {
	width: 2.5rem !important;
	height: 2.5rem !important;
    border-radius: 10px;
}
.cozy-3raOZG .avatar-1BDn8e {
	margin-top: 7px;
	left: 1rem;
}
.cozy-3raOZG .avatar-1BDn8e:hover {
	transform: scale(1.07);
}

/*********************************************/

/* Members List User Avatar */
div[aria-label="Members"] foreignObject {
    mask: none !important;
    border-radius: 20px;
}

/* Round server and avatar icons everywhere */

:root .wrapper-3t9DeA foreignObject, :root .callAvatarMask-1SLlRi foreignObject,
:root .avatarContainer-3CQrif foreignObject, :root .avatarMasked-3y6o4j {
  mask: none;
  -webkit-mask: none;
}
:root .wrapper-3t9DeA, :root .avatar-1BDn8e, :root .profile-1eT9hT .avatarUploaderInner-3UNxY3,
:root .voiceAvatar-14IynY, :root .avatar-3tNQiO, :root .border-Jn5IOt, :root .avatar-3bWpYy, :root .clickableAvatar-1wQpeh,
:root .emptyUser-7txhlW, :root .avatar-VxgULZ, :root .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
:root .wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, :root .replyAvatar-1K9Wmr, :root .avatarSpeaking-2c8-9i,
:root .avatar-3Heyg_, :root .avatarContainer-2LLZwy, :root .appAvatar-3bgkQ9 {
  border-radius: 9999px;
}

:root .wrapper-25eVIn foreignObject {
  mask: none;
  -webkit-mask: none;
}

:root .wrapperSimple-19ogV2 {
  overflow: visible;
}

:root .wrapperSimple-19ogV2, :root .wrapper-25eVIn foreignObject,
:root .folderIconWrapper-226oVY, :root .folderIconWrapper-1_bOZe,
:root .expandedFolderBackground-2sPsd-,
:root .flexChild-faoVW3 .avatarUploaderInner-3UNxY3 {
  border-radius: 9999px;
}

:root .iconInactive-98JN5i {
  border-radius: 2px;
}

:root .wrapper-25eVIn foreignObject:hover foreignObject {
  border-radius:  2px;
}

/* Unread Notif Bar*/
.group-spacing-16 .divider-3_HH5L.beforeGroup-1rH1F0 {
    margin-top: 14px;
    padding: 10px;
}

.isUnread-3Ef-o9 {
    border-color: #cddbf9;
}
.unreadPil-guild-header-text-shadow, .numberBadge-2s8kKX, .iconBadge-qZ4Ksk, .unreadPill-2HyYtt {
    background-color: #cddbf9 !important;
    color: #20202A;
}
.unreadPillCapStroke-7rkHbg {
    color: #cddbf9;
    fill: #cddbf9;
}

/*Number Notif thingy */
.numberBadge-2s8kKX {
}

/* Side Notification */
.mention-1f5kbO {
    background-color: #cddbf9;
    color: #20202A;
}

/* Bottom Notif position */
.unreadMentionsIndicatorBottom-2mDYbI {
    background: #2c2e3e;
    padding-bottom: 40px;
    padding-top: 10px;
}

/* Top Notif Position*/
.unreadMentionsIndicatorTop-2-tcdU {
    top: 50px;
}


/*Upload Window*/
.footer-3mqk7D {
    background-color: #20202A !important;
}

.uploadModal-2ifh8j {
    background-color: #16161b !important;
}

/* Code */
.hljs-addition, .hljs-keyword, .hljs-selector-tag {
    color: #cddbf9;
}

.hljs-attr, .hljs-attribute, .hljs-class .hljs-title, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #b1dba4;
}

/* Search Window Thingy */
.theme-dark .container-3ayLPN {
    background-color: #20202A;
}

.theme-dark .option-96V44q:after {
    background: #20202A;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background: #2c2e3e;
}

.theme-dark .option-96V44q .filter-3Y_im- {
    color: #b8dceb;
    font-style: italic;
}

.theme-dark .option-96V44q .answer-1n6g43, .theme-dark .option-96V44q .nonText-3CRkO0, .theme-dark .option-96V44q strong {
    color: #b1dba4;
}

#popout_886 {
    bottom: 70px !important;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #313449;
}

/* Left buttons */
.circleIconButton-1QV--U.selected-1JjBPm svg {
    background-color: #313449;
    color: #b1dba4;
}

.circleIconButton-1QV--U.selected-1JjBPm {
    background-color: #313449;
}

.circleIconButton-1QV--U svg {
    width: 50px;
    height: 50px;
}

.circleIcon-1-oi1i {
    color: #b1dba4;
}

.circleIconButton-1QV--U svg {
    color: #b1dba4;

}

.hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-title {
    color: #e6dfb8;
}

.hljs-doctag, .hljs-literal, .hljs-meta .hljs-meta-string, .hljs-number, .hljs-regexp, .hljs-string {
    color: #ebb9b9;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol {
    color: #f6bbe7;
}

.hljs-built_in, .hljs-deletion {
    color: #e6dfb8;
}


/* Makes the message box a rectangle */ 
.channelTextArea-rNsIhG { margin-bottom: 0; }
.form-2fGMdU { padding: 0; }
.inner-MADQqc { padding-top: 4px; }
.base-gE7OpD { /* typing and slowmode stuff */
    top: -24px; /* height is 24px */
    background-color: var(--background-primary);
}
.scrollableContainer-2NUZem {
    border-radius: 0px;
    min-height: 53px;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child > div {
    background: var(--background-primary);
}

/* Puts the Home button in a reasonable area */
ul[data-list-id="guildsnav"] > div[class^="scroller"] {
    padding-top: 0 !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child > div {
    box-shadow: var(--elevation-low) !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child + div > div[class^="guildSeparator"] {
    display: none; /* separator */
}

div[href="/channels/@me"]:not(:hover) > div {
    background-color: transparent !important;
}

/* Hides the home button selection pill and blurple background when selected*/
.pill-3N7f9r{
    display:none !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background: none !important;
}

/* Pins the Home button */
.tutorialContainer-2sGCg9 {
    position: fixed;
    z-index: 1;
    background: linear-gradient(var(--background-tertiary) 100%, transparent);
}
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0;}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label], .guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 58px;}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] { margin-top: 0px;}

.scroller-1Bvpku {
    margin-bottom: 54px;
}

/* Fix mini Icon */
:root .iconInactive-98JN5i {
    border-radius: 9999px;
}

/* Delete Danger */
.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
    color: #ebb9b9;

}

/* Friends Button */
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #b8dceb;
    background: #2c2e3e;

}

/* Verified tag */
.verified-1eC5dy {
    color:  #63718b;
}

/* Unread sector of left tab */
.modeUnread-1qO3K1 .name-23GUGE {
    font-style: italic;
}

.modeSelected-346R90 .name-23GUGE {
    font-style: italic;
    font-weight: 700;
}

.menu-3sdvDG  {
    left: 10px !important;
}

/* Opening Link Box Thingy */
.theme-dark .root-1gCeng {
    background-color:#20202A ;
}

.theme-dark .footer-2gL1pp {
    background-color: #16161b;
}

.root-1gCeng {
    border-radius: 10px;
}

/* Also, better animation and better textbox*/
.checked-3_4uQ9 .checkbox-1ix_J3 svg path {
    fill: #cddbf9;
    transition: 0.8s;
}
.checkboxWrapper-SkhIWG .checkbox-1ix_J3 svg path {
    transition: 0.2s;
    
}
.checkboxWrapper-SkhIWG .checkbox-1ix_J3 {
    border-radius: 5px;
    border-width: 2px;
    border-color: #414560;

}

.channelTextAreaUpload-3t7EIx .scrollableContainer-2NUZem {
    border-radius: 10px;
}

/* Call Buttons */
.colorable-1bkp8v.primaryDark-3mSFDl {
    background: #414560;
}
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T {
    color: #c8cedc;
}

.colorable-1bkp8v.red-33-Lnk {
    background: #ebb9b9;
}

.colorable-1bkp8v.red-33-Lnk, .colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T {
    color: #414560;
}

.colorable-1bkp8v.red-33-Lnk.active-1QRrIS, .colorable-1bkp8v.red-33-Lnk:hover {
    background: #DE9999;
}

.border-Jn5IOt.speaking-B2MXPi {
    inset 0 0 0 2px hsl(239,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-floating) !important;
}


.icon-2Po-VO svg path {
    fill: blue;
    color: blue;
    background: blue;
}
