#!/bin/sh

# sourced at boot by ~/.xinitrc and most display managers

export XDG_CONFIG_HOME="$HOME/.config"
export PATH="$HOME/.local/bin:$PATH"

# Fire Up Picom
picom -b &

# Fire up WM
bspwm &

# Fire Up Dunst

dunst &

# Mundane stuff
nm-applet &
volumeicon
xfce4-power-manager &

# Security or somethiing idk
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
gnome-keyring-daemon --start --components=pkcs11 &

# Bindings
ksuperkey -e 'Super_L=Alt_L|F1' &
ksuperkey -e 'Super_R=Alt_L|F1' &

# Scrolling n stuff
xset dpms 600 900 1200
xset r rate 350 60


