* {
    all: unset; //Unsets everything so you can style everything from scratch
	font-family: Iosevka;
}

// --| Global Styles |-- //
window {
  //background-color: #2c2e3e;
    color: #b0b4bc;
    font-family: VictorMono;
}

.e {
    background-color: #1b1b23;
    margin: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 290px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

.top-container{
    background-color: #2c2e3e;
    border-radius: 50px 50px 4px 4px;
}

// Styling n' Stuff

/** Power Force ********************************************/
.right-outer-container {
    padding: 24px;
}

.right-container {
    background-color: #2c2e3e ;
    padding: 10px;
    margin: 10px;
    border-radius: 45px;
    border: 10px;
}

// Buttons
.btn {
    font-size: 60px;
}

.shutdown-btn {
    color: #ebb9b9;
}

.reboot-btn {
    color: #caf6bb;
}

.quit-btn {
    color: #f6bbe7;
}

.btn button {
    border-radius: 36px;
    padding: 26px;
}

.btn button:hover {
    background-color: #393b4d;
}

// Top Sidebar Container
.left-container {
    background-color: #2c2e3e;    
    border-radius: 0px 40px 40px 0px;
    padding: 30px;
}

.border-right-container {
    border-radius: 40px;

}

/** Uptime ********************************************/
.icontimer {
	color: #f6bbe7;
	font-size : 100px;
	font-weight : normal;
}

.uphour {
	color: #E5E9F0;
	font-size : 34px;
	font-weight : bold;
    font-family: Cartograph CF;
}

.upmin {
	color: #E5E9F0;
	font-size : 26px;
    margin-left: 30px;
    font-family: Cartograph CF;
	font-style : italic;
    font-weight: 300;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 42px;
	font-weight : normal;
}
.iconcpu {
	color: #ebb9b9;
}
.iconmem {
	color: #caf6bb;
}


.cpu_bar, .mem_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 46px;
	min-height: 16px;
	min-width: 160px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #ebb9b9;
}
.mem_bar scale trough highlight {
	background-color: #caf6bb;
}


/** Calendar ********************************************/
calendar {
	font-size: 16px;
	font-family: Cartograph CF;
	font-style: italic;
    font-weight: 800;
}

.calendar-dark {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 10px;
}

calendar:selected {
	border-radius: 5px;
	color: #2c2e3e;
    font-weight: 900;
	background-color: #cddbf9;
}
calendar.header {
	color: #cddbf9;
	font-weight: bold;
}
calendar.button {
	color: rgba(235, 185, 185, 0.7);
}
calendar.highlight {
	color: rgba(202, 246, 187, 0.7);
	font-weight: bold;
}
calendar:indeterminate {
	color: rgba(205, 219, 249, 0.3);
}

.calendar-date {
	margin-left: 6px;
	font-size: 40px;
	font-weight: 600;
}
.calendar-date-num {
	font-family: Victor Mono;
	margin-left: 6px;
	font-size: 40px;
	font-weight: 300;
}
.calendar-year {
	margin-left: 6px;
	font-family: Victor Mono;
	font-size: 18px;
	font-weight: 500;
	color: rgba(108, 96, 90, 0.8)
}
.calendar-info {
	margin-left: 40px;
}

/** Quotes ********************************************/
.quote-info {
	font-weight: 300;
	font-family: SFMono Nerd Font;
	font-style: normal;
	margin-left: 50px;
}
.quote-time {
	font-size: 13.5px;
	margin-right: 10px;
	font-weight: 500;
	color: rgba(108, 96, 90, 0.7);
}
.quote-number {
	font-size: 13.5px;
	margin-right: 10px;
	font-family: SFMono Nerd Font;
	font-style: normal;
	color: rgba(108, 96, 90, 0.7);
}
.quotation-mark {
	font-size: 25px;
}
.quote-title {
	font-weight: 500;
	font-family: Victor Mono;
	font-style: italic;
	color: rgba(108, 96, 90, 0.9);
}
.quote-boi {
	margin-bottom: 30px;
}

/** Buttons ********************************************/
.music-button {
    color: #ebe3b9;
    border-radius: 30px 0px 0px 30px;
}

.task-button {
    color: #ebb9b9;
    border-radius: 0px 30px 30px 0px;

}

.divisor {
    font-size: 30px;
    margin: 0px 20px 0px 20px;
    color: #caf6bb;
    font-weight: 900;
}

.lefty-btn {
    padding-left: 50px;
    padding-right: 50px;
}

.lefty-btn:hover {
    background-color: #2c2e3e;
}



.button-container {
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    background-color: #1b1b23;
    border-radius: 40px;
}

/** Music ********************************************/

.player-btn button {
    font-size: 80px;
}

.player-btn {
}


.album-art {
    background-size: 260px;
    min-height: 260px;
    min-width: 260px;
    margin: 20px;
    border-radius: 10px;
}

.weather-icon {
  font-size: 120px;
}




.weather-info {
  font-size: 16px;
  font-weight: bold;
  color: #D35D6E;
}

.weather-temperature {
    font-size: 20px;


}

